* {
	font-family: sans-serif;
	text-decoration: none!important;
	outline: none;
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

/* Animações */
.fade-out {
	animation: fade-out .5s linear;
}

.fade-in {
	animation: fade-in .5s linear;
}

@keyframes fade-in {
	from {
		opacity: .5;
		padding: 20%;
	}
	to {
		padding: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

button:focus {
	outline: none;
}

::-webkit-scrollbar {
	background-color: #363636;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: #f5f5f5;
	border-radius: 10px;
}